$mq576: 576px;
$mq767: 767px;
$mq991: 991px;
$mq1200: 1200px;

$templateColor: #eeb118;
$HeaderFooterColor: #333;

$headerHeight: 115px;
$footerHeight: 65px;

%common {
  color: #222;
  font-weight: 600;
  text-align: center;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 5px;
    border-radius: 5px;
    margin: 16px auto 32px;
    background-color: $templateColor;

    @media screen and (max-width: $mq576) {
      width: 40%;
    }
  }
}
%common2 {
  color: #222;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  height: 100%;

  &::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 65%;
    margin-right: 6px;
    background-color: $templateColor;
    vertical-align: text-bottom;
    // @media screen and (max-width: $mq576){
    // width: 40%;
    // }
  }
}

@mixin commonH3 {
  h3 {
    font-size: 33px;
    @extend %common2;
  }
}

@mixin commonH2 {
  h2 {
    font-size: 38px;
    @extend %common;
  }
}

@mixin commonH2Style2 {
  h2 {
    font-size: 30px;
    @extend %common;
  }
}

@mixin sectionDistance {
  padding: 75px 0;
}

// box外觀
@mixin moneyBagBox {
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  padding: 20px 16px;
  border-radius: 5px;
  // box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 45px;
  // box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 30px;
  box-shadow: rgba(40, 35, 45, 0.2) 0px 4px 6px 0px;
}

// 禮物
@mixin commonIcon {
  .icon {
    cursor: pointer;
    max-width: 105px;
    color: rgb(111, 103, 119);
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
    transition-duration: 0.3s;
    text-decoration: none;
    transition-property: background-color, transform;
    transition-timing-function: ease-out;
    margin-bottom: 5px;

    &:hover {
      transform: translate(0, -5px);
      background-color: rgba(255, 255, 255, 0.8);
    }

    .img {
      width: 100%;
      display: block;
      margin: 0 auto;
      padding: 5px 20px;

      > img {
        width: 100%;
      }
    }

    .name,
    .point {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

// Google Noto Sans CJK TC，思源黑體
@font-face {
  font-family: 'Noto Sans TC-Light';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}

*:not(i):not(span) {
  font-family: 'Noto Sans TC-Light' !important;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body.body {
  position: relative;
  min-height: 100%;
  font-weight: 600;
  background-color: rgb(247, 247, 247);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 40px 70px 0 70px;
  color: white;

  @media screen and (max-width: $mq576) {
    padding: 0;
  }

  &.stricky-fixed {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 51;
    position: fixed;
    margin: 0;
    background-color: $HeaderFooterColor;
    padding: 0;
  }
}

// navbar選單hero
.navbar-light.navbar-light .navbar-nav .show > .nav-link,
.navbar-light.navbar-light .navbar-nav .active > .nav-link,
.navbar-light.navbar-light .navbar-nav .nav-link {
  color: white;
  transition: 0.3s color ease;
  font-size: 15px;
  margin-left: 40px;

  &:hover,
  &:focus {
    color: $templateColor;
  }
}

.dropdown-menu.dropdown-menu {
  transition-property: opacity, visibility;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  visibility: hidden;
  opacity: 0;
  display: block;
  border-top: 4px solid $templateColor;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0;
  background-color: #222;
  color: white;

  @media screen and (max-width: $mq991) {
    display: none;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .dropdown-item {
    // padding: 0 18px;
    color: white;
    transition-duration: 0.3s;
    transition-property: background-color, color;
    transition-timing-function: ease;
    padding: 6px 18px;

    &:hover {
      background-color: $templateColor;
    }
  }
}

.account.account {
  // max-height: 22px;

  .accountName {
    margin-right: 5px;
  }

  .accountImg {
    display: inline-block;
    max-width: 25px;

    @media screen and (max-width: $mq767) {
      display: none;
    }

    > img {
      width: 100%;
    }
  }

  & ~ .dropdown-menu {
    left: 25px;

    .dropdown-item {
      padding: 7px 6px;
      &:hover {
        background-color: transparent;
      }

      &:first-child {
        text-align: right;
      }

      &.font {
        transition: color 0.3s ease;

        &:hover {
          color: $templateColor;
        }
      }

      .mTERRACEBtn {
        border-radius: 5px;
        padding: 3px 14px;
        font-size: 14px;
      }

      .accountImg {
        max-width: 35px;
        margin: 0 auto;

        > img {
          width: 100%;
        }
      }
    }
  }
}

.navbar-light.navbar-light .navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon.navbar-toggler-icon.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// scroll to top
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  cursor: pointer;
  line-height: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 23px 42px;
  border-radius: 10px;
  background-color: $templateColor;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  > * {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

.logo {
  width: 100%;
  height: 100%;
  max-width: 90px;
  padding: 0;

  > img {
    width: 100%;
  }
}

// hero
.hero {
  min-height: 925px;
  // height: 100%;
  width: 100%;
  display: block;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .particlesJs {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hreoBox {
    padding-top: 200px;
  }

  .heroImg {
    position: relative;
    max-width: 400px;
    // height: 565px;
    margin: 0 auto;
    z-index: 0;
    border-radius: 10px;

    &::before {
      content: "";
      width: 305px;
      height: 305px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid #a4aeb5;
      margin-left: -30%;
      z-index: -1;
    }

    > img {
      width: 100%;
      box-shadow: 0px 0px 150px 70px #0d395a;
      z-index: 1;
      border-radius: 5px;
    }
  }

  .type-wrap {
    position: relative;
    margin-top: 15%;

    @media screen and (max-width: $mq1200) {
      margin-top: 9%;
    }

    &::after {
      content: "";
      width: 100px;
      height: 6px;
      background-color: $templateColor;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateX(-50%);
      display: block;
      border-radius: 10px;

      @media screen and (max-width: $mq1200) {
        position: relative;
        top: 0;
        right: 0;
        transform: translateX(0%);
        margin: 30px auto 0;
        display: block;
      }
    }

    h1 {
      text-align: left;
      @media screen and (max-width: $mq1200) {
        text-align: center;
      }
    }
  }
}

// 活動照片跑馬燈
// 選美佳麗
.activityPicture,
.chooseBeauty {
  @include commonH2;
  @include sectionDistance;
}

// 最新消息動態
.news {
  @include commonH2;
  @include sectionDistance;
  .nav.nav-tabs {
    border-bottom-width: 0;

    .nav-link {
      background-color: rgb(239, 239, 244);
      color: black;
      padding: 10px;
      width: 100px;
      text-align: center;
      font-size: 16px;

      &.active {
        border-width: 0;
        background-color: $templateColor;
        color: white;
        padding: 10px;
        font-weight: 600;
      }
    }
  }

  .tab-content {
    .newsTable {
      th:nth-child(1) {
        width: 90px;
        // max-width: 48px;
      }
      th:nth-child(2) {
        width: calc(100% - 48px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      th,
      td {
        padding: 10px 0 5px;
        border-top-width: 0;
      }
    }
  }
}

// 商業贊助
.businessSupport {
  @include commonH2Style2;
  @include commonH3;
  @include sectionDistance;

  .block {
    text-align: left;

    @media screen and (max-width: $mq576) {
      text-align: center;
    }
  }

  .businessSupportInfo {
    max-width: 210px;
    width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 2px 2px 10px 3px rgba(200, 200, 200, 0.5);
    padding: 15px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    // margin: 0 25px 20px 0;
    margin: 0 auto 20px;
    cursor: pointer;

    @media screen and (max-width: $mq576) {
      display: block;
    }

    .img {
      > img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .businessSupportName {
    color: $templateColor;
    margin: 20px 0 0;
    font-size: 16px;
  }
}

// footer
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: $HeaderFooterColor;
  // background-color: rgba(27, 54, 100, 0.84);
  vertical-align: middle;
  padding: 16px 0;
  color: $templateColor;
  font-weight: 700;
}

// owl-carousel
.owl-carousel.owl-carousel {
  .item {
    display: inline-block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      max-width: 110px;
      margin: 0 auto;
    }
  }

  .owl-nav {
    @media screen and (max-width: $mq991) {
      display: block;
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      overflow: hidden;
      clear: both;
    }

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      margin: 0;
      width: 50px;
      height: 80px;
      background-color: $templateColor;

      > * {
        font-size: 30px;
      }

      @media screen and (max-width: $mq991) {
        position: relative;
        transform: none;
        top: 0;
        height: 30px;
        width: 30px;
      }
    }

    .owl-prev {
      left: 0;
      margin: 0 0 0 5px;

      @media screen and (max-width: $mq991) {
        float: left;
      }
    }
    .owl-next {
      right: 0;
      margin: 0 5px 0 0;
      @media screen and (max-width: $mq991) {
        float: right;
      }
    }
  }

  .owl-nav {
    @media screen and (max-width: $mq991) {
      margin-top: 15px;
    }

    [class*="owl-"] {
      &:hover {
        transition-property: color, background-color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        background-color: transparent;

        .next {
          color: $templateColor;

          &:hover {
            color: $templateColor;
          }
        }
      }

      .next {
        color: white;

        @media screen and (max-width: $mq991) {
          font-size: 20px;
        }
      }
    }
  }
}

.owl-theme.owl-theme .owl-dots .owl-dot {
  display: none;

  &.active,
  &:hover {
    span {
      transition: background-color 0.3s ease;
      background: $templateColor;
    }
  }
}

// typedjs
.type-wrap {
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 100px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    margin: 0;
    width: 100%;
    color: white;
  }

  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  /* code for animated blinking cursor */
  .typed-cursor {
    opacity: 1;
    font-weight: 100;
    animation: blink 0.7s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// 單位...
.bgcRed {
  background-color: red;
}

.h100vh {
  height: 100vh;
}

.chooseBeautyColor {
  color: $templateColor;
}

.p75-0-50 {
  padding: 75px 0 50px;

  @media screen and (max-width: $mq576) {
    padding: 0;
  }
}

.p25-0-50 {
  padding: 25px 0 50px;

  @media screen and (max-width: $mq576) {
    padding: 0;
  }
}

.bgSection {
  // ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.mTERRACEBtn {
  display: inline-block;
  color: white;
  background-color: $templateColor;
  font-weight: 600;
  line-height: 16px;
  border: 2px solid $templateColor;
  border-radius: 30px;
  text-align: center;
  padding: 18px 48px;
  transition-duration: 0.3s;
  transition-property: border, background-color;
  transition-timing-function: ease;
  font-size: 16px;

  &:hover {
    background-color: transparent;
    border-color: white;
  }
}

.mt-35x {
  margin-top: 35px;
}

.mb-50x {
  margin-bottom: 50px;
}

// 大螢幕向左，1200置中
.mText-xl-center {
  text-align: left;

  @media screen and (max-width: $mq1200) {
    text-align: center;
  }
}

.fWeight-800 {
  font-weight: 800;
}

.showww {
  visibility: visible !important;
  opacity: 1 !important;
}

.mt-100x {
  margin-top: 100px;
}

.mb-5x {
  margin-bottom: 5px;
}

.fz-25x {
  font-size: 25px;
}

.fz-21x {
  font-size: 21px;
}

.text-red {
  color: red;
}

.cbColor {
  color: $templateColor !important;
}

.cbBGC {
  background-color: $templateColor !important;
}

.cbBorder {
  border-color: $templateColor !important;
}

.o-5 {
  opacity: 0.5;
}
.o-6 {
  opacity: 0.6;
}
.o-6 {
  opacity: 0.6;
}
.o-9 {
  opacity: 0.9;
}

.w-40p {
  width: 40%;
}

.cur-default {
  cursor: default;
}

.cbBtn.cbBtn {
  text-decoration: none;
  color: rgba(#404040, 0.8);
  background-color: $templateColor;
  border: 2px solid $templateColor;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: transparent;
  }
}

input:focus,
.form-control:focus.form-control:focus,
.custom-select.custom-select:focus {
  border-color: $templateColor;
  box-shadow: 0 0 0 0.2rem rgba($templateColor, 0.55);
}

.custom-control-input.custom-control-input:checked~.custom-control-label.custom-control-label::before{
  border-color: $templateColor;
  background-color: $templateColor;
}

.scrollbar {
  height: 300px;
  background: transparent;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 9px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(85, 85, 85, .2);
  }
}

.close.close{
  position: absolute;
  top: 12px;
  right: 12px;
}

.dropdown-menu.dropdown-menu.show.show{
  display: block;
}

// === 我的錢包 - moneyBag ===
// === 收禮紀錄 - giftRecord ===
.moneyBag,
.giftRecord {
  // height: 97.35%;
  // background-color: #f2f2f2;
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;

  // 個人資訊
  .personInfo {
    @include moneyBagBox();
    font-size: 16px;
    margin-bottom: 20px;

    > * {
      vertical-align: middle;
    }

    > *:nth-child(1),
    > *:nth-child(2) {
      margin-right: 10px;
    }

    .img {
      max-width: 50px;
      display: inline-block;
      border: 2px solid $templateColor;
      border-radius: 50%;

      > img {
        width: 100%;
      }
    }

    .name {
      display: inline-block;
      line-height: 46px;
    }

    .focus {
      display: inline-block;
      // background-color: rgb(255, 104, 249);
      // background-color: #ff68f9;
      background-color: rgb(118, 154, 233);
      color: white;
      padding: 2px 10px;
      border-radius: 5px;
      font-size: 15px;

      > * {
        padding-left: 5px;
        font-weight: 700;
      }
    }

    .link {
      margin-top: 20px;
      text-align: center;

      > * {
        cursor: pointer;
        color: $templateColor;
        text-decoration: none;
        background-color: transparent;
        transition: opacity 0.3s ease;
        padding: 4px 8px;

        & + ::before {
          content: "";
          height: 10px;
          width: 2px;
          background-color: $templateColor;
          display: inline-block;
          position: relative;
          top: 1px;
          left: -9px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .points {
    @include moneyBagBox();
    margin-bottom: 20px;

    .fill {
      text-decoration: none;
      color: rgba(#404040, 0.8);
      background-color: $templateColor;
      border: 2px solid $templateColor;
      padding: 2px 8px;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .pointsConver {
    @include moneyBagBox();
    margin-bottom: 20px;
    padding: 20px 0 0;

    > *:first-child {
      padding: 20px 16px;
    }

    .pointsConverArea {
      width: 100%;
      padding: 10px 10px 20px;
      background-color: rgb(242, 242, 242);
      border-radius: 10px;

      @include commonIcon();
    }
  }

  .record {
    @include moneyBagBox();
  }
}
// === 我的錢包 - moneyBag ===

// moneyBag - dataTable
.page-item.active .page-link.page-link {
  border-color: $templateColor;
  background-color: $templateColor;
}

.page-link.page-link {
  color: $templateColor;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($templateColor, 0.25);
  }
}

.table-bordered.table-bordered,
.table-bordered.table-bordered td,
.table-bordered.table-bordered th {
  border-width: 0;
}

// contactUs - 聯絡我們
.contactUs {
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;

  .title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
}

// 前台 - 登入
.fontLogin {
  height: 100%;
  width: 100%;
  // background-color: #F7F4F4;
  background-color: #faefef;

  .login {
    background-color: #fff;
    // background-color: #1B589D;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 580px;
    width: 100%;
    box-shadow: rgba(40, 35, 45, 0.2) 0px 0px 10px 0px;

    @media screen and (max-width: $mq767) {
      margin: 0 30px;
    }

    .errorMsg {
      background-color: rgb(255, 101, 105);
      border-radius: 5px;
      padding: 6px 12px;
      opacity: 0.95;
      // max-width: 300px;
      max-width: 200px;
      text-align: center;
      color: white;
    }

    .logo {
      max-width: 85px;
      margin-bottom: 30px;

      > img {
        width: 100%;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      text-align: center;
      opacity: 0.5;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 90%;
        background-color: rgba(169, 164, 176, 0.2);
        display: block;
      }
    }

    .cbBtn {
      transition: all 0.3s ease-out;

      &:hover {
        border-color: $templateColor;
        background-color: $templateColor;
        color: rgba(#404040, 0.8);
        opacity: 0.8;
      }
    }
  }
}

// 佳麗個人網頁 - 個人動態
.prettyWomanSelfStatus {
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;
  height: 100%;
  width: 100%;

  // 個人資訊
  .personInfo {
    @include moneyBagBox();
    font-size: 16px;
    margin-bottom: 20px;

    > * {
      vertical-align: middle;
    }

    > *:nth-child(1),
    > *:nth-child(2) {
      margin-right: 10px;
    }

    .logo {
      border-radius: 5px;
      max-width: 100px;
      display: block;
      margin: 0 auto 20px 0;
    }

    .img {
      max-width: 55px;
      display: inline-block;
      border: 2px solid $templateColor;
      border-radius: 50%;

      > img {
        width: 100%;
      }
    }

    .name {
      display: inline-block;
      line-height: 46px;
    }

    .introduction {
      margin-top: 20px;
      height: 100px;
      overflow: auto;
      
      > *{
        opacity: 0.4;
      }
    }
  }

  // 相片簿
  .photos {
    @include moneyBagBox();
    font-size: 16px;
    margin-bottom: 20px;

    .title {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    }

    .photo {
      .img {
        margin-right: 10px;
        max-width: 92px;
        display: inline-block;
        transition: transform 0.3s ease-out;

        &:hover {
          transform: translateY(-1px);
        }

        > img {
          width: 100%;
        }
      }
    }

   

    .readMove {
      float: right;
      text-decoration: none;
      font-size: 8px;
      padding-top: 4px;
    }
  }

  // 個人動態
  .blog {
    @include moneyBagBox();
    padding: 24px;
    margin-bottom: 15px;
    
    .content {
      font-size: 17px;
    }

    .action {
      margin-bottom: 10px;
    }

    .giftArea {
      height: auto;
      max-height: 250px;
      padding: 12px 24px;
      margin: 0 -24px -25px;
      background-color: #f2f2f2;
      overflow: auto;

      .gift{
        @include commonIcon();
      }
    }
  }
}

ㄋ
// 收禮紀錄
.giftRecord{
  .gift{
    max-width: 80px;

    > img{
      width: 100%;
    }
  }
}

// 會員資料建立
.memberCE{
  padding-top: $headerHeight;
  padding-bottom: $footerHeight;

  // 大頭貼上傳ㄋ
  .avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                // &:after
                > i {
                    // content: "\f030";
                    // font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 4px solid $templateColor;
        // border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
  }
}

// -- select2 --

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered.select2-selection__rendered{
  padding-top: 6px;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear.select2-selection__clear{
  margin-top: 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice.select2-selection__choice{
  padding: 3px 9px;
}

.select2-container .select2-search--inline.select2-search--inline{
  margin-left: 4px;
  margin-top: -2px;
}