<div class="col-md-4">
  <div class="personInfo align-self-start">
    <div class="img">
      <!-- <img src="" alt=""> -->
      <img class="rounded-circle" src="https://picsum.photos/100/100?image=1027" alt="">
    </div>
    <div class="name">暱稱</div>
    <div class="focus">
      關注: <span>100</span>
    </div>
    <div class="link">
      <a href="#">個人中心</a>
      <a href="#">我的錢包</a>
    </div>
  </div>
</div>