<!-- 我得帳戶 -->
<div class="img">
  <!-- <img src="" alt=""> -->
  <img class="rounded-circle" src="https://picsum.photos/100/100?image=1027" alt="">
</div>
<div class="name">暱稱</div>
<div class="focus">
  關注: <span>100</span>
</div>