<!-- And here is our main footer that is used across all the pages of our website -->
<footer class="footer text-center">
    Copyright © 2019泰睿思股份有限公司 版權所有
</footer>


<!-- goto -->
<div class="scrollToTop scroll-to-target">
  <!-- <span class="fas fa-angle-up"></span> -->
  <i class="fas fa-angle-up"></i>
</div>