<header class="header stricky">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo" href="index.html">
          <img src="wwwroot/images/mTERRACELogo.png" alt="mTERRACE">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">首頁 <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DemoPage
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="moneyBag.html">我的錢包</a>
                <a class="dropdown-item" href="contactUs.html">聯絡我們</a>
                <a class="dropdown-item" href="fontLogin.html">前台登入</a>
                <a class="dropdown-item" href="prettyWomanSelfStatus.html">佳麗個人網頁-個人動態</a>
                <!-- <a class="dropdown-item" href="#">Another action</a> -->
                <!-- <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle account" href="#" id="account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="accountName">mTERRACE</span>
                <div class="accountImg">
                  <img class="rounded-circle" src="https://picsum.photos/100/100?image=1027" alt="">
                </div>
              </a>
              <div class="dropdown-menu text-center" aria-labelledby="account">
                <a class="dropdown-item" href="#">
                    <button class="mTERRACEBtn">退出</button>
                </a>
                <a class="dropdown-item" href="#">
                  <div class="accountImg">
                    <img class="rounded-circle" src="https://picsum.photos/100/100?image=1027" alt="">
                  </div>
                </a>
                <a class="dropdown-item" href="#">
                  &nbsp;<span class="fWeight-800 cur-default">mTERRACE</span>
                </a>
                <a class="dropdown-item font" href="#">個人中心</a>
                <a class="dropdown-item font" href="#">我的錢包</a>
              </div>
            </li>
            <!-- https://codepen.io/raubaca/pen/VejpQP -->
            <!-- <li class="nav-item">
                <select class="form-control">
                  <option selected>中文</option>
                  <option>English</option>
                </select>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="selectLang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  語言
                </a>
                <div class="dropdown-menu" aria-labelledby="selectLang">
                  <a class="dropdown-item" href="#">中文</a>
                  <a class="dropdown-item" href="#">English</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>
</header>
